## Data Types. Module 2

## Values example

In [2]:
import math

print ("Python-3 long integer examples")

distance_to_Andromeda_galaxy_ly = 2537000 #light years
light_speed = 299792458 # m/s
distance_to_Andromeda_galaxy_m = distance_to_Andromeda_galaxy_ly * light_speed
print("Distance to Andromeda galaxy(m) = ", distance_to_Andromeda_galaxy_m)

print("google (10*100) = ", 10**100)

print ("\nPython-3 float examples")

f1 = math.pi
print("f1 = ", f1)
f2 = 2.1e-56
print("f2 = ", f2)
print("Ops! do not comare floats to equivalence: '.1 + .1 + .1 == .3' is False!\n", .1 + .1 + .1 == .3) 

print ("\nPython-3 complex examples")

x = complex(1, 2)
print("x = ", x)
print("x.real = ", x.real)
print("x.imag = ", x.imag)

Python-3 long integer examples
Distance to Andromeda galaxy(m) =  760573465946000
google (10*100) =  10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Python-3 float examples
f1 =  3.141592653589793
f2 =  2.1e-56
Ops! do not comare floats to equivalence: '.1 + .1 + .1 == .3' is False!
 False

Python-3 complex examples
x =  (1+2j)
x.real =  1.0
x.imag =  2.0

## Simple String example

In [3]:
print("\n*** Quotes example. ***\n")

str1 = "char 'a'. str1 can include single quotes"
str2 = 'name "Some". str2 can include double quotes'
str3 = """  
        Triple quotes.
        str3 can include
        several lines and other qoutes"""

print(str1)
print(str2)
print(str3)
           
print("\n*** Escape characters and raw strings example. ***\n")

str1 = "It is Windows path: d:\\Program Files\\some program"
str2 = "Lines and tabs:\n\tLine 1\n\tLine 2\n\tLine 3"
str3 = r"No escape, all as is: \\, \n, \t"

print(str1)
print(str2)
print(str3)

print("\n*** F-strings. Strings with place holders  ***\n")

name = "John"
age = 12
print (f"{name} is {age} years old")

*** Quotes example. ***

char 'a'. str1 can include single quotes
name "Some". str2 can include double quotes

        Triple quotes.
        str3 can include
        several lines and other qoutes

*** Escape characters and raw strings example. ***

It is Windows path: d:\Program Files\some program
Lines and tabs:
	Line 1
	Line 2
	Line 3
No escape, all as is: \\, \n, \t

*** F-strings. Strings with place holders  ***

John is 12 years old

## String Format example

In [13]:
print('Formatting with positional and named arguments')
print('{} {}'.format('one', 'two')) 
print('{1} {0}'.format('one', 'two') )
print('{} {}'.format(1, 2))
print('{first_name} {last_name}'.format(last_name='Picard', first_name='Jean-Luc'))
 
print('Add some padding')
print('{:_<10}'.format('test'))
print('{:_>10}'.format('test'))
print('{:_^10}'.format('test'))
 
print('Add specific formatting to named value')
print('{result!s:_^20}'.format(result=(1, 2)))
print('{result!r:_^20}'.format(result=(1, 2)))

print('{result:_^ 20.2f}'.format(result=3.141))
print('{result:_^ 20.2f}'.format(result=-3.141))

Formatting with positional and named arguments
one two
two one
1 2
Jean-Luc Picard
Add some padding
test______
______test
___test___
Add specific formatting to named value
_______(1, 2)_______
_______(1, 2)_______
_______ 3.14________
_______-3.14________

## Use slice operator example

In [4]:
#Python-3 strings example

print("\n*** Slice example. ***\n")

str1 = "123456789"
print('str1 = "123456789"')
print("str1[1] = ", str1[1])
print("Pay attention. The last number in the slice is point after diapason!")
print("Substring str1[2:5] includes charecters #2,#3,#4 (not #5!)")
print("str1[2:5] = ", str1[2:5])
print("str1[-2] = ", str1[-2])
print("str1[3:] = ", str1[3:])
print("str1[:3] = ", str1[:3])
print("str1[:] = ", str1[:])

print("\n*** Concatination example. ***\n")
str1 = "Johen"
str2 = "Black"
print( str1 + " " + str2 + "\n")

print("\n*** Convertion example. ***\n")
str_to_int = int("125")
print("str_to_int = ", str_to_int)
float_to_str = str("27.5")
print("float_to_str = " + float_to_str)

print("\n*** Execution of string as statement example. ***\n")
op ="print('ho-ho')"
exec(op)

*** Slice example. ***

str1 = "123456789"
str1[1] =  2
Pay attention. The last number in the slice is point after diapason!
Substring str1[2:5] includes charecters #2,#3,#4 (not #5!)
str1[2:5] =  345
str1[-2] =  8
str1[3:] =  456789
str1[:3] =  123
str1[:] =  123456789

*** Concatination example. ***

Johen Black


*** Convertion example. ***

str_to_int =  125
float_to_str = 27.5

*** Execution of string as statement example. ***

ho-ho

## Exercises 2

**Input  string from user. Check String for palindromes.**

Use following string for test:

* "god saw I was dog"
Program should be print "Palindrome"
* "I like python"
Program should be print "No palindrome"

You can use following operators:
```
input("input string>")

if expression:
    operators
    when expression
    is true
else:
    operators
    when expression 
    is false
    
print("result")
```

In [39]:
#type here you solution. You can remove this comment

## List

### Simple example

In [40]:

print("\n*** Some List operations. ***\n")

list1 = [1,4,3,2,5,6]
n = len(list1)
print("number of elements = ", n ) 
print("minimum = ", min(list1))
print("summa = ", sum(list1))
print("sorted = ", sorted(list1))

*** Some List operations. ***

number of elements =  6
minimum =  1
summa =  21
sorted =  [1, 2, 3, 4, 5, 6]

### Compare and contatenate list

In [41]:
print("\n*** List comparing. ***\n")
list1 = [1,2,3,4,5,6]
list2 = [2,3,4,5,6,7]
list3 = [2,3,4,5,0,0]
list4 = [0,0,0,0,0,0,0] 
list5 = [1,1,100,1,1,1,1] 
list6 = [1,2,3,4,5,6,0]
list7 = [[4,2],[3,4]] 
list8 = [[3],[1,0,0]]

print(list2 > list1) # True
print(list3 > list1) # True
print(list4 > list1) # False
print(list5 > list1) # False
print(list6 > list1) # True
print(list8 > list7) # False (recursive comparing) 

list_mix = [["b"], [123]]
#print(list_mix.sort()) #throw exception TypeError: '<' not supported between instances of 'int' and 'str'

print("\n*** List concatenation. ***\n")
list8 = list1 + list5
print(list8) 

print("\n*** List sorting. ***\n")
print(sorted(list8)) # return list
list5.sort() # do not return list
print(list5)

*** List comparing. ***

True
True
False
False
True
False

*** List concatenation. ***

[1, 2, 3, 4, 5, 6, 1, 1, 100, 1, 1, 1, 1]

*** List sorting. ***

[1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 100]
[1, 1, 1, 1, 1, 1, 100]


### copy and deepcopy list

In [43]:
import copy 
print("\n*** list1=list2 is not copy! ***\n")
list1 = []
list2 = [1,2,3,4]
list1 = list2
list2[1] = -1
print("list1 = list2 is not copy!\nlist2 = ", list2)
print("list1 = ", list1)

print("\n*** Shallow copy copies one level only! ***\n")
list1 = []
list2 = [1,[-1,-2,-3],2,3]
list1 = list2.copy()
list2.append(4)
list2[0] = 0;
print("looks as independent copy. \nlist2 = ", list2)
print("list1 = ", list1)
list2[1][1] = -10
print("\nOps! It was not recursive! References are shared!\nlist2 = ", list2)
print("list1 = ", list1)

print("\n*** Real deep copy ***\n")
list1 = copy.deepcopy(list2)
list2[1][1] = -100
list2[0]=-10
list2.append(-200)
print("copy.deepcopy is real deep copy.\nlist2 = ", list2)
print("list1 = ", list1)

*** list1=list2 is not copy! ***

list1 = list2 is not copy!
list2 =  [1, -1, 3, 4]
list1 =  [1, -1, 3, 4]

*** Shallow copy copies one level only! ***

looks as independent copy.
list2 =  [0, [-1, -2, -3], 2, 3, 4]
list1 =  [1, [-1, -2, -3], 2, 3]

Ops! It was not recursive! References are shared!
list2 =  [0, [-1, -10, -3], 2, 3, 4]
list1 =  [1, [-1, -10, -3], 2, 3]

*** Real deep copy ***

copy.deepcopy is real deep copy.
list2 =  [-10, [-1, -100, -3], 2, 3, 4, -200]
list1 =  [0, [-1, -10, -3], 2, 3, 4]

## Tuples

### Simple Tuples Sample

In [44]:
print("\n*** Simple tuple ***\n")
seasons = ("winter", "spring", "summer", "autumn")
print("There are enough tuples in real life.\nSeasons, for example: ", seasons)

print("\n*** Create tuple from list ***\n")
a, b = 3, 4
c = tuple([a,b])
print(c)

print("\n*** Function can return tuple ***\n")
def zero_coord():
     return 0,0 
zc = zero_coord()
print(zc)

print("\n*** Tuple as a key of a dictionary ***\n")
half_life = {	("uranium",235):7.04e8,
	("uranium",238):4.468e9,
	("plutonium",239):2.41e4,
	("plutonium",240):6500
	}
print("Half-life of uranium-238 = ", half_life[("uranium",238)] )

print("\n*** Tuple can include references to changing values ***\n")
tp = ([10],) # if you miss ',' it will be integer in parentheses
print("Tuple includes list. tp[0][0] = ", tp[0][0])
tp[0][0] = -100
print("The list inside tuple was changed. tp[0][0] = ", tp[0][0])

*** Simple tuple ***

There are enough tuples in real life.
Seasons, for example:  ('winter', 'spring', 'summer', 'autumn')

*** Create tuple from list ***

(3, 4)

*** Function can return tuple ***

(0, 0)

*** Tuple as a key of a dictionary ***

Half-life of uranium-238 =  4468000000.0

*** Tuple can include references to changing values ***

Tuple includes list. tp[0][0] =  10
The list inside tuple was changed. tp[0][0] =  -100

## Dictionaries

### Simple Dictionaries Sample

In [46]:
d = dict() 
d['one'] = "First"
d[2] = "Second"
d[3] = 3
print(d)
compact_dict = {'one':'First',2:"Second",3:3}
print(d.keys())
print(compact_dict.keys())
print(d.values())
print(compact_dict.values())

{'one': 'First', 2: 'Second', 3: 3}
dict_keys(['one', 2, 3])
dict_keys(['one', 2, 3])
dict_values(['First', 'Second', 3])
dict_values(['First', 'Second', 3])

### Color sample

In [47]:
colors = ["red","blue","red", "cyan", "black", "blue", "red", 
          "red", "orange", "black", "cyan", "red", "pink",
          "orange", "black", "cyan", "red", "pink", "blue",
          "red", "green", "blue", "red", "green", "blue", 
          "blue","red", "cyan", "black", "blue", "green"]

dc = {} # we will use dictionary of color:counter pairs
for cl in colors:
    if dc.get(cl) == None:
        dc[cl] = 1
    else:
        dc[cl] = dc[cl]+1

print(dc)

{'red': 9, 'blue': 7, 'cyan': 4, 'black': 4, 'orange': 2, 'pink': 2, 'green': 3}

### Sets

### Simple Set Sample

In [48]:
colors = ["red","blue","red", "cyan", "black", "blue", "red", 
          "red", "orange", "black", "cyan", "red", "pink",
          "orange", "black", "cyan", "red", "pink", "blue",
          "red", "green", "blue", "red", "green", "blue", 
          "blue","red", "cyan", "black", "blue", "green"]

unique_colors = set(colors)
print("Colors: ", unique_colors)
print("Colors count = ", len(unique_colors))

Colors:  {'pink', 'blue', 'cyan', 'black', 'green', 'orange', 'red'}
Colors count =  7

## Exercises 3

* Create list l1, that contains elements: 'abcd', 786 , 2.23, 'john', 70.2 
* Print the complete list l1
* Print the first element of the list
* Print elements starting from 2nd with the 3rd element
* Print Duplicate elements in list

You program should be print:

> ['abcd', 786, 2.23, 'john', 70.2]

>abcd

>[786, 2.23]

>['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]

In [103]:
# type your solution here. You can remove this comment

* Create list l2, that contains elements: ‘second’, ’123’
* Create list l3, that contains l1 and l2. Update l1[1] value. Verify l3 values. 
* Create list l4, that contains all elements of l2. Updated l2[0] value. Print l4.

Your program should be print:

> [['abcd', 786, 2.23, 'john', 70.2], ['second', '123']]

> [['abcd', 999, 2.23, 'john', 70.2], ['second', '123']]

> ['second', '123']

>[555, '123']

>['second', '123']

In [104]:
# type your solution here. You can remove this comme

* Create list l5 with 4 elements. 
* Using slice operator, update first 2 items to have values ‘1’ and ‘2’. 
* Insert list [7,7,7,7,7,7] after value ‘1’
* Insert a copy of itself at the beginning. 
* Clear list 
* Create list l6 that has l1, l2, l5 elements as list.  Update first element of list l1. Print l6
* Sort and count the items of lists l1,l2,l3. 

Your program should be print

> [1, 2, 3, 4]

> [111, 222, 3, 4]

> [111, [7, 7, 7, 7, 7, 7], 222, 3, 4]

> [[111, [7, 7, 7, 7, 7, 7], 222, 3, 4], 111, [7, 7, 7, 7, 7, 7], 222, 3, 4]

> [['abcd', 786, 2.23, 'john', 70.2], [555, '123'], [[111, [7, 7, 7, 7, 7, 7], 222, 3, 4], 111, [7, 7, 7, 7, 7, 7], 222, 3, 4]]

> [[9999, 786, 2.23, 'john', 70.2], [555, '123'], [[111, [7, 7, 7, 7, 7, 7], 222, 3, 4], 111, [7, 7, 7, 7, 7, 7], 222, 3, 4]]


> ---------------------------------------------------------------------------

>TypeError                                 Traceback (most recent call last)

> ...

> TypeError: '<' not supported between instances of 'str' and 'float'

* Please explain errror while try sort l1

In [105]:
# type your solution here. You can remove this comment

* Create tuple t1 that contains elements: 'abcd', 786 , 2.23, 'john', 70.2
* Update the first element of the tuple. 
* Return the number of elements that are forming a tuple. 
* Create tuple t2 based on l2 elements. 
* What is the minimum value of tuple t1? Can you sort tuple t1?

Your program should be print:

> ('abcd', 786, 2.23, 'john', 70.2)

> (999, 786, 2.23, 'john', 70.2)

> 5
> (555, '123')

* Please explain why your can't get min value of t1 and can't sort it

In [101]:
# type your solution here. You can remove this comment

* Create dictionary d1 that contains : 'one':'First',2:"Second",3:3
* Print dictionary keys. Print dictionary values. 
* Can you sort a dictionary?
* Verify  that  d1  has  key ‘one’.  Get value for key ‘one’.  Get value for key ‘two’ (not 2 – look what will happen, and check type() of the value).
* Create dictionary d2 using d1’s keys. Print d2.
* Create dictionary d3 having l1, t1 and d2 as values. 

Your program should be print:

> {'one': 'First', 2: 'Second', 3: 3}

> True

> {'one': 0, 2: 0, 3: 0}

> {'l1': [9999, 999, 2.23, 'john', 70.2], 't1': (999, 786, 2.23, 'john', 70.2), 'd2': {'one': 0, 2: 0, 3: 0}}

In [112]:
# type your solution here. You can remove this comment